<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/static/styles/styles.css" />
    <title>Momentum Clone</title>
  </head>
  <body>
    <header>
      <div class="header__left">
        <!-- favorites Link -->
      </div>
      <div class="header__center">
        <!-- Username input form or Hi to user -->
        <form id="usernameForm">
          <input type="text" name="username" id="username" />
        </form>
      </div>
      <div class="header__right">
        <!-- Weather information -->
      </div>
    </header>
    <main>
      <div class="main__left">
        <!-- ? -->
      </div>
      <div class="main__center">
        <!-- clock -->
        <!-- to do input form -->
        <form id="todoForm">
          <input type="text" name="todo" id="todo" />
        </form>
      </div>
      <div class="main__right">
        <!-- ? -->
      </div>
    </main>
    <footer>
      <div class="footer__left">
        <!-- ? -->
      </div>
      <div class="footer__center">
        <!-- quotes -->
      </div>
      <div class="footer__right">
        <!-- github? -->
      </div>
    </footer>
    <script>
      //   console.log(fetch("/api/weather"));
      // console.log(fetch("/api/quote"));
      // fetch("/api/todo")
      //   .then((res) => res.json())
      //   .then((json) => console.log(json));
    </script>
    <script src="/static/scripts/main.js" type="module"></script>
  </body>
</html>
