<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="/static/images/favicon.png"
      type="image/x-icon"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/static/styles/style.css" />
    <title>Momentum Clone</title>
  </head>
  <body>
    <div class="background"></div>
    <header>
      <div class="clock">00 : 00</div>
    </header>
    <main>
      <div class="container">
        <div class="question"></div>
        <form>
          <input type="text" />
          <button>>></button>
        </form>
        <ul class="todos"></ul>
      </div>
    </main>
    <footer>
      <div class="quote">
        <div class="quote__content"></div>
        <div class="quote__author"></div>
      </div>
    </footer>
    <script src="/static/scripts/main.js" type="module"></script>
  </body>
</html>
