@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: white;
}

.background {
  width: 100vw;
  height: 100vh;
  background-image: url("/static/images/1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1.2;
  position: absolute;
  z-index: -1;
}

input {
  background: none;
  border: none;
  border-bottom: 2px solid whitesmoke;
  padding: 10px 20px;
  font-size: 1.3em;
}
input:focus {
  background: rgba(0, 0, 0, 0.2);
  outline: none;
  color: white;
}

header {
  height: 25vh;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
header .header__left, header .header__right {
  width: 20vw;
}
header .header__center {
  width: 60vw;
  text-align: center;
  font-size: 1.3em;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
}
header .header__center #usernameH2 {
  font-size: 1.5em;
}
@media screen and (max-width: 480px) {
  header .header__left, header .header__right {
    width: 0;
  }
  header .header__center {
    width: 100vw;
  }
}

main {
  height: 55vh;
  display: flex;
  justify-content: space-between;
}
main .main__left, main .main__right {
  width: 20vw;
}
main .main__center {
  width: 60vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .main__center .clock {
  font-size: 5em;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
}
main .main__center #todoForm {
  margin-top: 1em;
}
main .main__center .todos {
  margin-top: 0.4em;
}
main .main__center .todos .todo {
  margin-top: 0.4em;
  display: flex;
}
main .main__center .todos .todo span:first-child {
  flex: 2;
}
main .main__center .todos .todo::before {
  content: "▫️";
}

footer {
  height: 20vh;
  display: flex;
  justify-content: space-between;
}
footer .footer__left, footer .footer__right {
  width: 30vw;
}
footer .footer__center {
  width: 40vw;
}
footer .footer__center .quote {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  font-style: italic;
}
footer .footer__center .quote__content {
  margin-bottom: 0.4em;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
  text-align: center;
}
footer .footer__center .quote__author {
  font-size: 1em;
}
footer .footer__center .quote__author::before {
  content: "- ";
}
footer .footer__center .quote__author::after {
  content: " -";
}
@media screen and (max-width: 480px) {
  footer .footer__left, footer .footer__right {
    width: 0;
  }
  footer .footer__center {
    width: 100vw;
  }
}

/*# sourceMappingURL=styles.css.map */
