// config
@import "./config/reset";
@import "./config/variables";

* {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  color: $textColor;
}
.background {
  width: 100vw;
  height: 100vh;
  background-image: url("/static/images/1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1.2;
  position: absolute;
  z-index: -1;
}
input {
  background: none;
  border: none;
  border-bottom: 2px solid whitesmoke;
  padding: 10px 20px;
  font-size: 1.3em;
  &:focus {
    background: rgba(0, 0, 0, 0.2);
    outline: none;
    color: $textColor;
  }
}
header {
  height: 25vh;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  .header {
    &__left,
    &__right {
      width: 20vw;
    }
    &__center {
      width: 60vw;
      text-align: center;
      font-size: 1.3em;
      text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
    }
  }
  @media screen and (max-width: 480px) {
    .header {
      &__left,
      &__right {
        width: 0;
      }
      &__center {
        width: 100vw;
      }
    }
  }
}
main {
  height: 55vh;
  display: flex;
  justify-content: space-between;
  .main {
    &__left,
    &__right {
      width: 20vw;
    }
    &__center {
      width: 60vw;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .clock {
        font-size: 5em;
        text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
      }
      #todoForm {
        margin-top: 1em;
      }
    }
  }
}
footer {
  height: 20vh;
  display: flex;
  justify-content: space-between;
  .footer {
    &__left,
    &__right {
      width: 30vw;
    }
    &__center {
      width: 40vw;
      .quote {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 1.2em;
        font-style: italic;
        &__content {
          margin-bottom: 0.4em;
          text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
          text-align: center;
        }
        &__author {
          &::before {
            content: "- ";
          }
          font-size: 1em;
          &::after {
            content: " -";
          }
        }
      }
    }
  }
  @media screen and (max-width: 480px) {
    .footer {
      &__left,
      &__right {
        width: 0;
      }
      &__center {
        width: 100vw;
      }
    }
  }
}
